
.btn{
	border-radius: 5px;
	min-width: 80px;
	border: none;
	background: #4CAF50;
	color: #fff;
	display: inline-block;
	text-align: center;
	padding: 8px;
	cursor: pointer;
}
.btn:hover{
	background:#2E7D32;
	color: #fff;
}
.text{
	min-width: 250px;
    min-height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 18px;
    font-weight: 600;
    font-family: initial;
    font-size: 17px;
}
