#main_pic{
  width: 80%;
  height: 150px;
  margin:auto;

}
.effects {
  padding-left: 15px;
}
.effects .img {
  float: left;
  margin-bottom: 5px; 
  width: 100%;
  overflow: hidden;
}
img{
  width: 100%;
  border-radius:100%; 
}
.effects .img:nth-child(n) {
  margin-right: 5px;
}
.effects .img:first-child {
  margin-left: -15px;
}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: all 0.5s;
}
a.expand {
  display: block;
  position: absolute;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
#effect .overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  border-radius: 100%;
}
#effect .overlay a.expand {
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto -30px auto;
}
#effect .img.hover .overlay {
  height: 100%;
}
#user_name_section{
  width: 100%;
  height: 50px;
  border-bottom:.01px solid #444; 
}
#user_name{
  width: 80%;
  margin: auto;
  padding: 10px;
}
.h3{
  color: #fff;
  margin: 0px;
  text-align: center;
}