#user_info{
	width: 15%;
	height: 650px; 
	background-color: #212121; 
	padding-top:55px;
	float: left; 
}
#user_profile_img{
	width: 100%;
	height: 150px;
	border-bottom:1px solid #ddd; 
}
#profile_pic{
	width: 50%;
    height: 100px;
    margin: auto;
}
#profile_pic img{
	width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 100%;
}
img:hover{
	color: #000;
}